@import "./reset.css";

.Gallery-container {
  position: static;
  display: flex;
  margin: 0 auto;
  justify-content: center;
}

.g-nav-container {
  position: absolute;

  padding: 20px;
  right: 0;
}

ul li {
  list-style-type: none;
  float: left;
}

.random-button {
  margin-right: 5px;
}

.find-button,
.add-button {
  font-size: 15px;
  padding: 0;
  margin-right: 5px;
}

.g-Content-container {
  position: static;
  margin-top: 70px;
}

.g-User-container {
  height: 150px;
  width: 800px;
  background-color: rgb(233, 233, 233);
}

.User-profile {
  position: absolute;
  margin-left: 10px;
  padding: 17px;
}

.User-profile-image {
  width: 120px;
  height: 120px;
}

.User-header,
.User-introduction,
.User-follow {
  position: relative;
  margin-left: 180px;
}

.User-follow {
  padding-top: 15px;
}

.User-header {
  font-size: 20px;
  padding-top: 25px;
}
.User-introduction {
  font-size: 17px;
}

.User-follower,
.User-following,
.User-addFriend {
  margin-right: 20px;
  font-size: 15px;
}

.g-myRecords {
  height: 430px;
  margin-top: 30px;
}

.myRecords-header,
.myRecords-photoList {
  /* position: relative; */
}
.myRecords-header {
  width: 100px;
  margin-bottom: 10px;
}

.myRecords-photoList {
  height: 400px;
  background-color: rgba(209, 209, 209, 0.5);
  margin-bottom: 20px;
}
