@import "./reset.css";

.Gallery-container {
  width: 100%;
  position: absolute;
}

.g-nav-container {
  height: 25px;
  width: 100%;
  background-color: white;
  position: fixed;
  display: inline-block;
  padding-top: 50px;
}

.g-nav li {
  float: right;
}

.random-button {
  height: 20px;
  width: 60px;
  font-size: 10px;
  margin-right: 5px;
}

/* .find-container {
  height: 20px;
} */

/* .find-input {
  text-align: center;
  vertical-align: bottom;
  font-size: 10px;
  width: 60px;
  height: 15px;
} */

.find-button,
.add-button {
  font-size: 12px;
  padding: 0;
  width: 20px;
  height: 20px;
  margin-left: 3px;
}

.add-button {
  margin-top: 1px;
  margin-right: 5px;
}

.g-Content-container {
  position: absolute;
  margin-top: 90px;
}

.g-User-container {
  margin-left: 211px;
  height: 135px;
  width: 600px;
  background-color: rgb(233, 233, 233);
}

.User-profile {
  position: absolute;
  margin-left: 10px;
  padding: 17px;
}

.User-profile-image {
  width: 100px;
  height: 100px;
}

.User-header,
.User-introduction,
.User-follow {
  position: relative;
  margin-left: 150px;
}

.User-follow {
  padding-top: 15px;
}

.User-header {
  font-size: 16px;
  padding-top: 20px;
}
.User-introduction {
  font-size: 14px;
}

.User-follower,
.User-following,
.User-addFriend {
  margin-right: 20px;
  font-size: 12px;
}

.g-myRecords {
  position: absolute;
  height: 430px;
  margin-top: 30px;
}

/* .g-photo-filter {
  margin-left: 660px;
  display: flex;
}

.photo-filter-kinds,
.photo-filter-places {
  font-size: 11px;
  width: 70px;
  margin-right: 10px;
  text-align: center;
} */

.myRecords-header,
.myRecords-photoList {
  margin-left: 211px;
  position: relative;
}
.myRecords-header {
  width: 100px;
  margin-top: -10px;
  font-size: 13px;
  margin-bottom: 10px;
}

.myRecords-photoList {
  height: 350px;
  width: 600px;
  background-color: rgba(209, 209, 209, 0.5);
  margin-bottom: 20px;
}
