@import "./reset.css";

.login-container {
  position: absolute;
  margin-top: 70px;
  margin-left: 150px;
  display: flex;
}

.login-main {
  width: 300px;
  height: 350px;
  display: block;
}

.login-main-header {
  margin-top: 130px;
  margin-left: 40px;
  width: 500px;
  font-size: 20px;
  margin-bottom: 20px;
}

.login-main-content {
  width: 500px;
  font-size: 12px;
  margin-left: 40px;
  margin-bottom: 5px;
}

.login-form-container {
  width: 300px;
  height: 350px;
  margin-left: 100px;
  display: block;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(204, 204, 204);
}

.login-form-header {
  margin-top: 50px;
  text-align: center;
  font-size: 20px;
  margin-bottom: 30px;
}

.login-form-content {
  font-size: 11px;
  text-align: center;
}

.login-form {
  margin-top: 60px;
}

.login-form-ID,
.login-form-Password {
  font-size: 15px;
  margin-left: 20px;
  margin-top: 10px;
  display: flex;
  /* background-color: aquamarine; */
}

.login-form-ID input,
.login-form-Password input {
  width: 60px;
  font-size: 11px;
}

.login-form-span {
  width: 70px;
  margin-right: 10px;
}

.button-Container {
  width: 100%;
  margin-top: 35px;
}

.loginButton {
  margin-right: 20px;
  margin-left: 12vw;
}

.signupButton {
  margin-top: 10px;
  display: block;
  margin-left: 11.5vw;
}
