@import "./reset.css";

.login-container {
  position: static;
  margin-top: 70px;
  display: flex;
  justify-content: center;
}

.login-main {
  background-color: rgb(255, 246, 234);
  width: 380px;
  height: 400px;
  display: block;
}

.login-main-header {
  margin-top: 130px;
  margin-bottom: 20px;
  margin-left: 40px;
  width: 500px;
  font-size: 28px;
}

.login-main-content {
  /* background-color: rgb(110, 78, 35); */
  font-size: 16px;
  margin-left: 40px;
  margin-bottom: 5px;
}

.login-form-container {
  width: 380px;
  height: 400px;
  margin-left: 40px;
  border: 1px solid rgb(204, 204, 204);
}

.login-form-header {
  margin-top: 50px;
  text-align: center;
  font-size: 25px;
  margin-bottom: 30px;
}

.login-form-content {
  font-size: 15px;
  text-align: center;
}

.login-form {
  margin-top: 60px;
}

.login-form-ID,
.login-form-Password {
  font-size: 17px;

  margin-top: 10px;
  justify-content: center;
  display: flex;
}

.login-form-ID input,
.login-form-Password input {
  width: 60%;
  font-size: 15px;
}

.login-form-span {
  width: 70px;
  margin-right: 10px;
}

.button-Container {
  position: static;
  justify-content: center;
  display: flex;
  width: 100%;

  margin-top: 40px;
}

.loginButton,
.signupButton {
  font-size: 17px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 5px 10px 5px 10px;
}
