.pagination-container {
  display: flex;
  justify-content: center;
  /* background-color: rgba(43, 117, 177, 0.2); */
}

.pagination-ul {
  transform: (translate(-50%, -50%));
  text-align: center;
  height: 50px;
}

.pagination-item {
  display: inline-block;
  margin: 17px 5px 0 5px;
  padding: 2px;
  font-size: 16px;
  font-weight: 700;
}

.pagination-num {
  padding: 4px 10px 4px 10px;
  border: 1.5px solid rgb(0, 0, 0, 0.4);
  border-radius: 70%;
}
